.app {
  padding: 80px 0;  
  .container {
    display: flex;
    justify-content: space-between;
    column-gap: 45px;
    row-gap: 30px;
  }

  @media screen and (max-width: 1024px) {
    .container {
      flex-direction: column;
    }
  }
}
