@font-face {
  font-family: 'Cera Pro';
  font-weight: 400;
  src: url('/public/fonts/CeraPro-Regular.woff2') format('woff2'), 
       url('/public/fonts/CeraPro-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 500;
  src: url('/public/fonts/CeraPro-Medium.woff2') format('woff2'), 
       url('/public/fonts/CeraPro-Medium.woff') format('woff'); 
}